
/* Nav Bar */


a {
    width: 100%;
    height: 100%;
    text-decoration: none;
    color: var(--azulClaro-color);
    padding-left: 2%;
    font-family: "Sora", sans-serif;
    font-size: 0.8em;
}

a:hover {
    font-weight: 700;
}

.selected{
    font-weight: 700;
    color: #4c5b63;
}

.header{
    width: 100%;
    height: 10em;
    display: flex;
    justify-content: center;
    gap: 15%;
}

.headerLogo{
    width: 13em;
    cursor: pointer;
    margin-right: 20%;
    object-fit: contain;
    margin-top: 1em;
}

.headerLogo img {
    object-fit: contain;
    margin-left: auto;
}


.headerOptions{
    display: flex;
    justify-content: flex-end;
    gap: 0.7em;
    width: 20%;
    padding-top: 2%;
    text-align: center;
    margin-left: 10%;
}

.headerLogoScrolled{
    position: fixed;
    top: 0;
    left: 0.5%;
    width: 7em;
    height: 7em;
    background-image: url(./Imagens/Logos/logoDT\ -\ Carimbo\ -\ branco.png);
    background-size: contain;
    background-repeat: no-repeat;
}

.scrolled{
    position: fixed;
    top: 0;
    display: flex !important;
    width: 100%;
    height: 80vh !important;
    background-color: #d1d7ad;
    z-index: 3;
    animation: slideDown 0.5s ease-in-out;
}

.headerOptionsScrolled{
    flex-direction: column !important;
    justify-content: center;
    margin: 0;
    font-size: 3em;
}

.headerMenuBtnWrapper {
    position: fixed;
    width: 3.5em;
    height: 3.5em;
    right: 3%;
    top: 3%;
    border-radius: 100%;
    background-color: #d1d7ad;
    text-align: center;
    cursor: pointer;
    z-index: 4;
}

.menuBtn {
    height: 100%;
    width: 100%;
    background-color: white;
    mask: url(../Imagens/Icons/menu.svg) no-repeat center/50%;
}

@keyframes slideDown {
    from {
        transform: translateY(-100%);
        opacity: 0;
    }

    to {
        transform: translateY(0);
        opacity: 1;
    }
}

@keyframes slideUp {
    from {
        transform: translateY(0);
        opacity: 1;
    }

    to {
        transform: translateY(-100%);
        opacity: 0;
    }
}


/* Rodape */

.rodape {
    width: 100%;
    background-color: #8699a3;
    overflow: hidden;
    padding-bottom: 3em;
}

.rodapeLogo {
    height: 8em;
    width: 8em;
    text-align: center;
    margin-inline: auto;
}

.rodapeIcons {
    display: flex;
    justify-content: center;
    gap: 1em;
    width: 100%;
    height: 1em;
    margin-top: 2%;
}


.rodapeTextWrapper {
    display: flex;
    flex-direction: column;
    width: 100%;
    text-align: center;
    margin-top: 4%;
}

.options {
    display: flex;
    justify-content: center;
    gap: 1%;
    width: 100%;
    text-align: center;
    margin-bottom: 1%;
}

.options p {
    font-size: 1.2em;
    color: white;
}

.tradeMark {
    color: white;
    font-size: 0.8em;
    opacity: 0.7;
}


@media (max-width: 900px) {

    main{
        margin-top: 10em;
    }

    .header {
        position: fixed;
        background-color: white;
        height: 7em;
        z-index: 99;
        top: 0;
    }

    .headerOptionsSmall {
        display: none;
    }

    .headerLogoScrolled {
        display: block !important;
    }

    .headerMenuBtnWrapper {
        display: block !important;
    }

}

