@import url('https://fonts.googleapis.com/css2?family=Bona+Nova:ital,wght@0,400;0,700;1,400&family=MonteCarlo&family=Sora:wght@100..800&display=swap');

/* Fonts */

.sora-regular {
           font-family: "Sora", sans-serif;
           font-optical-sizing: auto;
           font-weight: 400;
           font-style: normal;
}

.montecarlo-regular {
    font-family: "MonteCarlo", cursive;
    font-weight: 400;
    font-style: normal;
}

.bona-nova-bold {
    font-family: "Bona Nova", serif;
    font-weight: 700;
    font-style: normal;
}

.bona-nova-regular-italic {
    font-family: "Bona Nova", serif;
    font-weight: 400;
    font-style: italic;
}

.bona-nova-regular {
    font-family: "Bona Nova", serif;
    font-weight: 400;
    font-style: normal;
}


:root {
    --ff-sora:"Sora", sans-serif;
    --ff-bonaNova:"Bona Nova", sans-serif;
    --ff-monteCarlo:"MonteCarlo", cursive;
    --azulClaro-color: #8699a3;
    --branco-color: #d1d7ad;
    --azulEscuro-color: #4c5b63;
}

body {
    display: block;
    padding: 0;
    margin: 0;
    min-height: 100vh;
    font-size: 1vw;
}

p {
    margin: 0;
}

img {
    max-width: 100%;
    display: block;
}

.scroll-animation {
    opacity: 0;
    transform: translateY(50px);
    transition: opacity 1.5s ease-out, transform 1.5s ease-out;
}

.scroll-animation.show {
    opacity: 1;
    transform: translateY(0);
}


.padding {
  margin-inline: 10%;
}

.divWrapper {
    display: flex;
    flex-direction: column;
    width: 100%;
}


.hidden {
    display: none !important;
}



/* Scroll Btn */
.scrollArrowWrapper {
    position: absolute;
    display: flex;
    justify-content: center;
    flex-direction: column;
    height: 9em;
    font-size: 0.8em;
    top: 80%;
    left: 2%;
    opacity: 0.5;
    transition: opacity 0.5s ease;
}

.scrollArrowWrapper.faded {
    opacity: 0;
}

.scrollArrowWrapper.visible {
    opacity: 0.7;
}


.scrollArrowWrapper img {
    position: absolute;
    width: 0.8em;
    height: 0.8em;
    left: 40%;
    top: 80%;
    transform: rotate(-90deg);
}

.scrollArrowWrapper p {
    transform: rotate(-90deg);
    font-family: "Sora", sans-serif;
    color: #4c5b63;
    font-size: 1.3em;
}
/* About Section */

.aboutSection {
    display: flex;
    margin-inline: 10vw;
    margin-bottom: 16vh;
    max-height: 1000px;
    gap: 5em;
}

.aboutSectionText {
    display: flex;
    flex-direction: column;
    padding-top: 5%;
    max-height: 100%;
}

.titleSlogan {
    position: absolute;
    top: 20%;
    left: 4%;
}

.title {
    position: relative;
    top: 10%;
    margin: 0;
    font-family: "Sora", sans-serif;
    color: #8699a3;
}

.slogan {
    position: relative;
    margin: 0;
    top: 10%;
    line-height: 0.8em;
    font-size: 8.5em;
    color: #8699a3;
    z-index: 2;
}

.sloganElegancia {
    position: relative;
    top: -0.7em;
    left: 10%;
    font-size: 11em;
    color: var(--branco-color);
    z-index: 2;
}

.aboutSectionDesc {
    position: relative; 
    top: 80%;
    max-width: 65%;
    font-size: 0.9em;
    color: var(--azulEscuro-color);
}


.aboutSectionImg {
    position: relative;
    overflow: hidden;
    height: 100%;
    width: 90em;
    border-radius: 20px;
}

.aboutSectionImg img {
    height: 100%;
    width: 100%;
}

.aboutSvg {
    position: absolute;
    width: 7em !important;
    height: 7em !important;
    bottom: 5%;
    right: 5%;
}

.aboutArrow {
    position: absolute;
    width: 10em !important;
    height: 10em !important;
    bottom: 2.3%;
    right: 2%;
}

/* Produtos title Wrapper */

.produtosTitleWrapper {
    position: absolute;
    top: -5%;
    left: -8%;
    max-width: 25%;
    line-height: 5em;
}

.produtosTitle {
    color: #8699a3;
    font-size: 1em;
}

.produtoSlogan {
    color: #8699a3;
    margin-top: 0;
    font-size: 2.7em;
    line-height: 1em;
}

/* Produtos Section */
.produtosSection {
    position: relative;
    width: 80%;
    height: auto;
    display: flex;
    justify-content: space-between;
    gap: 4em;
    max-height: 3000px;
    margin-inline: auto;
}

.produtosCell{
    display: flex;
    flex-direction: column;
    width: 100%;
    margin-top: 20%;
    gap: 4.3em;
}

.middle{
    margin-top: 0 !important;
}

.produtosTextWrapper{
    width: 85%;
    margin-inline: auto;
}

.titleStyle {
    font-family: "Bona Nova", sans-serif;
    color: #8699a3;
    font-size: 2.7em;
}

.titleStyle:hover {
    color: #4c5b63;
    cursor: pointer;
    font-weight: 700;
}

.descStyle {
    font-family: "Sora", sans-serif;
    color: #8699a3;
    font-size: 0.8em;
    margin-bottom: 5%;
}

.produtosArrowWrapper {
    position: absolute;
    top: 20%;
    right: 10%;
    background-color: #d1d7ad;
    border-radius: 100%;
    height: 4em;
    width: 4em;
    display: flex;
    align-items: center;
    justify-content: center;

}

.produtosArrow {
    height: 170%;
    width: 170%;
    border-radius: inherit;
    background-color: white;
    mask: url("/Imagens/Icons/arrow-product.svg") no-repeat center / cover;

}


.imgWrapper {
    height: 29em;
    border-radius: 20px;
}

.imgWrapper:hover{
    cursor: pointer;
    box-shadow: 0 3px 8px #4c5b63;
}

/* buttonProdutos */

.buttonMaisProdutosWrapper{
    margin-inline: auto;
    font-family: "Sora", sans-serif;
    height: 5em;
    width: 17em;
    border-radius: 20px;
    background: none;
    color: #8699a3;
    border: 1px solid #8699a3;
}

.buttonMaisProdutosWrapper:hover {
    background-color: #d1d7ad;
    cursor: pointer;
    border: none;
}

/* Areas */

    .areasSection {
        display: flex;
        justify-content: center;
        gap: 6%;
        margin-top: 8em;
        margin-bottom: 12em;
    }

    .areasImgWrapper {
        width: 65%;
        height: 30em;
    }

    .areasTextWrapper {
        width: 60%;
        margin-top: 10em;
    }

    .areasTitle {
        color: #8699a3;
        font-size: 1.5em;
        padding-bottom: 3%;
    }

    .areasTextWrapper p {
        color: #4c5b63;
        font-size: 3em;
    }

/* WordCarrocel */

.wordCarrocel {
    display: block !important;
    overflow: hidden;
    white-space: nowrap;
    margin-block: 6em;
}

.wordWrapper {
    display: inline-block;
    justify-content: center;
    gap: 5%;
    box-sizing: border-box;
    white-space: nowrap;
    animation: 10s Scrolling infinite linear;
}

.wordWrapper p {
    display: inline-block;
    font-family: "Bona Nova", sans-serif;
    color: #d1d7ad;
    font-size: 4.2em;
    margin: 0 2%;
}

@keyframes Scrolling {
    from {
        transform: translateX(-50%);
    }

    to {
        transform: translateX(50%);
    }
}

@keyframes Scrolling1 {
    from {
        transform: translateX(-50%);
    }

    to {
        transform: translateX(50%);
    }
}


/* Rodape */

.rodape {
    width: 100%;
    background-color: #8699a3;
    overflow: hidden;
    padding-bottom: 3em;
}

.rodapeLogo {
    height: 8em;
    width: 8em;
    text-align: center;
    margin-inline: auto;
}

.rodapeIcons {
    display: flex;
    justify-content: center;
    gap: 1em;
    width: 100%;
    height: 1em;
    margin-top: 2%;
}


.rodapeTextWrapper {
    display: flex;
    flex-direction: column;
    width: 100%;
    text-align: center;
    margin-top: 4%;
}

.options {
    display: flex;
    justify-content: center;
    gap: 1%;
    width: 100%;
    text-align: center;
    margin-bottom: 1%;
}

.options p {
    font-size: 1.2em;
    color: white;
}

.tradeMark {
    color: white;
    font-size: 0.8em;
    opacity: 0.7;
}

/* Meida Querys */

@media (max-width:600px) {

    .header{
        position: fixed ;
        background-color: white;
        height: 7em;
        z-index: 99;
    }
    .headerOptionsSmall {
        display: none;
    }

    .headerLogoScrolled {
        display: block !important;
    }

    .headerMenuBtnWrapper {
        display: block !important;
    }

 .topPadding{
    padding-top: 0 !important;
 }

 .produtosSection{
    flex-direction: column;
    justify-content: center;
    margin-top: 5vh;
    gap: 14em
 }

.titleStyle{
    font-size: 6.5em;
}

.descStyle{
    font-size: 3.5em;
}

 .imgWrapper {
    height: 70em;
}


 .divWrapper{
    padding-bottom: 0;
    width: 80vw;

 }

 .areasSection{
    flex-direction: column;
    gap: 3em;
 }

 .areasSection img{
    width: 100%;
 }

 .areasTextWrapper{
    width: 100%;
 }

}