@import url('https://fonts.googleapis.com/css2?family=Bona+Nova:ital,wght@0,400;0,700;1,400&family=MonteCarlo&family=Sora:wght@100..800&display=swap');

:root {
    --azulClaro-color: #8699a3;
    --branco-color: #d1d7ad;
    --azulEscuro-color: #4c5b63;
}

body{
    display: block;
    padding: 0;
    margin: 0;
    overflow: hidden;
}

a {
    width: 100%;
    height: 100%;
    text-decoration: none;
    color: var(--azulClaro-color);
    padding-left: 2%;
    font-family: "Sora", sans-serif;
    font-size: 1.12em; 
}

p {
    margin: 0;
}

header {
    display: flex;
    height: 15vh;
    gap: 10%;
    width: 100%;
    position: fixed;
    z-index: 99;
}

.scrolled {
    height: 60vh;
    flex-direction: column;
    background-color: #d1d7ad;
    z-index: 3;
}

img {
    border-radius: 20px;
    object-fit: cover;
    width: 100%;
    height: 100%;
}

.padding {
    margin-left: 10%;
    margin-right: 10%;
}

.divWrapper {
    display: flex;
    flex-direction: column;
    overflow: hidden;
    height: 70vh;
}

.divWrapper img{
    height: 60%;
}

.topPadding{
    padding-top:40%;
}

/* Nav bar */

.hidden {
    display: none !important; 
}

.menuLogoScrolled {
    position: fixed;
    height: 10%;
    width: 10%;
    top: 0;
    left: 2%;
    background-image: url(../Imagens/Logos/AF\ -\ imagem\ perfil\ -\ icon\ DRESS\ TABLE.png);
    background-size: contain;
    background-repeat: no-repeat;
    cursor: pointer;
    z-index: 4;
}

.menuLogoWrapper {
    height: 60%; 
    width: 40%;
    min-height: 30%;
    margin-left: 10%;
    cursor: pointer;
    object-fit: contain;
}

.menuLogoWrapper img {
    width: 40%;
}

.menuOptionsWrapper {
    display: flex;
    justify-content: flex-end;
    gap: 0.7em; 
    width: 20%;
    padding-top: 2%;
    text-align: center;
    margin-left: 10%;
}

.optionsClicked {
    flex-direction: column;
    justify-content: center;
    font-size: 3em; 
    gap: 0.2em; 
    margin-left: 40%;
    display: block !important;
}

.menuBtnWrapper {
    position: fixed;
    width: 75px;
    height: 75px;
    right: 2%;
    top: 0%;
    border-radius: 100%;
    background-color: #d1d7ad;
    text-align: center;
    margin-right: 3%;
    margin-top: 1%;
    cursor: pointer;
    z-index: 4;
}

.menuBtn {
    object-fit: cover;
    height: 100%;
    width: 100%;
    background-color: white;
    mask-image: url(../Imagens/Icons/menu.svg);
    mask-size: 50%;
    mask-repeat: no-repeat;
    mask-position: 50%;
}

/* About Section */

.aboutSection {
    display: flex;
    height: 100vh;
    margin-bottom: 2%;
}

.aboutSectionText {
    height: 80%;
    display: flex;
    flex-direction: column;
    padding-top: 5%;
}

.titleSlogan {
    position: absolute;
    height: 100%;
}

.title {
    position: relative;
    top: 10%;
    margin: 0;
    font-family: "Sora", sans-serif;
    color: #4c5b63;
}

.slogan {
    position: relative;
    margin: 0;
    top: 10%;
    font-family: "Bona Nova", sans-serif;
    font-weight: 400;
    font-style: normal;
    font-size: 9.8em; 
    color: #8699a3;
    z-index: 2;
}

.sloganElegancia {
    position: relative;
    top: -7%;
    left: 10%;
    font-family: "MonteCarlo", cursive;
    font-weight: 400;
    font-style: normal;
    font-size: 12.6em; 
    color: var(--branco-color);
    z-index: 2;
}

.aboutSectionDesc {
    position: relative;
    width: 60%;
    top: 90%;
    font-family: "Bona Nova", sans-serif;
    font-weight: 400;
    font-style: normal;
    font-size: 1.4em;
    color: var(--azulEscuro-color);
}

.aboutSectionImg {
    position: relative;
    float: right;
    overflow: hidden;
    width: 75%;
    height: 110vh;
    padding-top: 10%;
}

.aboutSectionImg img {
    object-position: right;
}

/* Produtos */

.productsSection {
    display: flex;
    flex-direction: column;
    width: 100%;
}

.produtosSection{
    position: relative;
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-template-rows: repeat(auto, 1fr);  
    column-gap: 2%;
    margin-top: 20%;
}

.produtosTitleWrapper{
    position: absolute;
    width: 20%;
    top:120%
}

.produtosTitle {
    font-family: "Sora", sans-serif;
    color: #8699a3;
}

.produtoSlogan {
    font-family: "Sora", sans-serif;
    font-size: 3.5em; 
    line-height: 1.4em; 
    color: #8699a3;
    margin-top: 0;
    margin-bottom: 25%;
}

.titleStyle {
    font-family: "Sora", sans-serif;
    color: #8699a3;
    font-size: 2.8em; 
}

.descStyle {
    font-family: "Sora", sans-serif;
    color: #8699a3;
    font-size: 1.12em; 
    margin-bottom: 5%;
}


.acesoriosWrapper{
    position: absolute;
    top:38%;
    width: 30%;
}

.produtosAcessórios button {
    font-family: "Sora", sans-serif;
    border-radius: 20px;
    padding: 5%;
    margin-bottom: 40%;
    margin-top: 20%;
    margin-left: 25%;
    width: 50%;
    background: none;
    color: #8699a3;
    border-color: #8699a3;
}

.individuaisTitle {
    font-family: "Sora", sans-serif;
    color: #8699a3;
    font-size: 2.8em; 
    margin-top: 20%;
}

.individuaisDesc {
    font-family: "Sora", sans-serif;
    color: #8699a3;
    font-size: 1.12em; 
    margin-bottom: 13%;
}

/* Areas */

.areasSection {
    height: 75vh;
    display: flex;
    margin-top: 10%;
}

.areasImgWrapper {
    height: 80%;
    width: 50%;
}

.areasTextWrapper {
    padding-top: 10%;
    padding-left: 5%;
}

.areasTitle {
    font-family: "Sora", sans-serif;
    color: #8699a3;
    font-size: 1.4em; 
    padding-bottom: 3%;
}

.areasTextWrapper p {
    font-family: "Sora", sans-serif;
    color: #4c5b63;
    font-size: 4.2em; 
}

/* Rodape */

.rodape {
    left: 0;
    height: 90vh;
    width: 100%;
    background-color: #8699a3;
    overflow: hidden;
}

.wordCarrocel {
    display: block !important;
    overflow: hidden;
    white-space: nowrap; 
    margin-bottom: 10%;
}

.wordWrapper {
    display: inline-block;
    justify-content: center;
    gap: 5%;
    box-sizing: border-box;
    white-space: nowrap;
    animation: 10s Scrolling infinite linear;
}



.wordWrapper p {
    display: inline-block; 
    font-family: "Bona Nova", sans-serif;
    color: #d1d7ad;
    font-size: 4.2em;
    margin: 0 2%; 
}

@keyframes Scrolling {
    from {
        transform: translateX(-50%);
    } 
    to {
        transform: translateX(50%);
    }
}

@keyframes Scrolling1 {
    from {
        transform: translateX(-50%);
    } 
    to {
        transform: translateX(50%);
    }
}


.rodapeLogo {
    width: 100%;
    height: 15%;
}

.rodapeLogo img{
    object-fit: contain;
}

.rodapeIcons {
    display: flex;
    justify-content: center;
    gap: 1em;
    width: 100%;
    height: 3%;
    filter: hue-rotate(--branco-color);
    margin-top: 2%;
}

.rodapeIcons img {
    object-fit: contain;
    width: 2em;
}

.rodapeTextWrapper {
    display: flex;
    flex-direction: column;
    width: 100%;
    text-align: center;
    margin-top: 4%;
}

.options {
    display: flex;
    justify-content: center;
    gap: 1%;
    width: 100%;
    text-align: center;
    margin-bottom: 1%;
}

.options p {
    font-family: "Bona Nova", sans-serif;
    color: #d1d7ad;
    font-size: 1.96em; 
}

.tradeMark {
    font-family: "Bona Nova", sans-serif;
    color: #d1d7ad;
    font-size: 0.98em; 
}


@media (max-width: 1366px) {

    body{
        font-size: 0.7em;
    }

    .menuBtnWrapper{
        height: 50px;
        width: 50px;
    }


}

@media (max-width:1200px){
    body{
        font-size: 0.7em;
    }

    .menuOptionsWrapper a {
        color: white;
        line-height: 2em;
        font-size: 1.5em;
    }

    .menuBtnWrapper{
        display: block !important;
    }

    .menuLogoWrapper img{
        object-fit: contain;
    }

    .aboutSection{
        height: 40vh;
    }

    .slogan{
        line-height: 0.7em;
    }

    .sloganElegancia{
        top: 2%;
    }

    .produtosTitleWrapper{
        top: 45%;
        width: 30%;
        font-size: 0.8em;
    }

    .acesoriosWrapper{
        top: 65%;
        left:0;
    }

    .produtosSection{
        grid-template-columns: repeat(2, 1fr);
    }
    .divWrapper{
        height: 50vh;
    }

    .topPadding{
        padding-top: 10%;
    }

    .aboutSectionImg{
        height: 40vh;
        width: 40%;
    }

    .rodape{
        height: 50vh;
    }
}

@media (max-width:900px){
    body{
        font-size: 0.6em;
    }

    .aboutSectionText{
        font-size: 0.8em;
    }

    .topPadding{
        padding-top: 20%;
    }
}

@media (max-width:600px){
    body{
        font-size: 0.5em;
    }

    header{
        top: 0;
    }
    .aboutSection{
        margin-top: 10%;
    }
    
    .menuBtnWrapper{
        width: 30px;
        height: 30px;
    }

    .sloganElegancia{
        top: 5%;
    }

    .aboutSectionText{
        font-size: 0.6em;
    }

    .aboutSectionDesc{
        font-size: 2em;
        width: 100%;
    }

    .aboutSectionImg{
        height: 60%;
        width: 80%;
    }

    .produtosSection{
        grid-template-columns: repeat(1, 1fr);
        gap: 0;
    }

    .produtosTitleWrapper{
        width: 90%;
        top: 45%;
        font-size: 1.2em;
    }

    .topPadding{
        padding-top: 20%;
    }

}