@import url('https://fonts.googleapis.com/css2?family=Bona+Nova:ital,wght@0,400;0,700;1,400&family=MonteCarlo&family=Sora:wght@100..800&display=swap');

:root {
    --azulClaro-color: #8699a3;
    --branco-color: #d1d7ad;
    --azulEscuro-color: #4c5b63;
}

main {
    height: 100%;
    width: 100%;
}

a {
    width: 100%;
    height: 100%;
    text-decoration: none;
    color: var(--azulClaro-color);
    padding-left: 2%;
    font-family: "Sora", sans-serif;
    font-size: 0.8em ;
}

p {
    margin: 0;
}

header {
    display: flex;
    height: 15vh;
    gap: 10%;
    width: 100%;
    position: fixed;
}

.input{
    border-radius: 10px;
    width: 100%;
    border: none;
    color: #4c5b63;
    font-family: "Bona Nova", sans-serif;
    font-weight: 400;
    font-style: normal;
    font-size: 1em;
    padding: 1em;
    margin-bottom: 2%;
}

textarea{
        border-radius: 10px;
    width: 100%;
    border: none;
    color: #4c5b63;
    font-family: "Bona Nova", sans-serif;
    font-weight: 400;
    font-style: normal;
    font-size: 1em;
    padding: 1em;
    margin-top: 3%;
    resize: none;
}

.scrolled{
    height: 80vh;
    flex-direction: column;
    background-color:#d1d7ad;
    z-index: 3;
}


img{
    border-radius: 20px;
    object-fit: cover;
    width: 100%;
    height: 100%;
}

.padding{
    margin-left: 10%;
    margin-right: 10%;
}

.divWrapper{
    width: 33%;
    display: flex;
    flex-direction: column;
    overflow: hidden;
}

/* Nav bar */

.hidden{
    display: none !important; 
}

.menuLogoScrolled{
    position: fixed;
    height: 10%;
    width: 10%;
    top: 0;
    left: 2%;
    background-image: url(../Imagens/Logos/AF\ -\ imagem\ perfil\ -\ icon\ DRESS\ TABLE.png);
    background-size: contain;
    background-repeat: no-repeat;
    cursor: pointer;
    z-index: 4;
}
.menuLogoWrapper {
    min-width: 30%;
    height: 60%;
    min-height: 30%;
    margin-left: 10%;
    background-image: url(../Imagens/Logos/logoDT\ -\ Horizontal\ -\ cores.png);
    background-size: contain;
    background-repeat: no-repeat;
    cursor: pointer;
}


.menuOptionsWrapper {
    display: flex;
    justify-content: right;
    width: 100%;
    padding-top: 2%;
    text-align: center;
}

.optionsClicked{
    flex-direction: column;
    justify-content: center;
    font-size: 3em;
    gap: 0.5em;
}

.menuBtnWrapper{
    position: fixed;
    width: 50px;
    height: 50px;
    right: 2%;
    top: 0%;
    border-radius: 100%;
    background-color:#d1d7ad;
    text-align: center;
    margin-right: 3%;
    margin-top: 1%;
    cursor: pointer;
    z-index: 4;
}

.menuBtn{
    object-fit: cover;
    height: 100%;
    width: 100%;
    background-color: white;
    mask-image: url(../Imagens/Icons/menu.svg);
    mask-size: 50%;
    mask-repeat: no-repeat;
    mask-position: 50%;
}

/* About Section */
.aboutSection {
    display: flex;
    height: 120vh;
    justify-content: space-between;
    gap: 10%;
}

.aboutSectionText { 
    height:100%;
    display: flex;
    width: 50%;
    flex-direction: column;
    padding-top: 5%;
}

.titleSlogan {
    position: absolute  ;
    height: 100%;
}

.title {
    position: relative;
    top: 10%;
    margin: 0;
    font-family: "Sora", sans-serif;
    color: #4c5b63;
}

.slogan{
    position: relative;
    margin: 0;
    top: 10%;
    font-family: "Bona Nova", sans-serif;
    font-weight: 400;
    font-style: normal;
    font-size: 4em;
    color: #8699a3;
    z-index: 2;
}

.sloganProdutos{
    position: relative;
    top: -3%;
    left: 25%;
    font-family: "MonteCarlo", cursive;
    font-weight: 400;
    font-style: normal;
    font-size: 7em;
    color: var(--branco-color);
    z-index: 2;
}

.aboutSectionDesc{
    position: relative;
    top: 40%;
    font-family: "Bona Nova", sans-serif;
    font-weight: 400;
    font-style: normal;
    font-size: 1.3em;
    color: var(--azulEscuro-color);
}

.aboutSectionDesc2{
    position: relative;
    top: 45%;
    font-family: "Bona Nova", sans-serif;
    font-weight: 100;
    font-style: normal;
    font-size: 1em;
    color: var(--azulEscuro-color);
}

.aboutSectionDesc2 p{
    margin-top: 5%;
}

.aboutSectionImg {
    position: relative;
    float: right;
    overflow: hidden;
    height: 90vh;
    padding-top: 10%
}

.aboutSectionImg img{
    object-position: right;
}

/* Image Grid*/

.imageGrid{
    height: 100vh;
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-template-rows: repeat(2, 1fr);  
    gap: 2%;
}

/* Sustentavel Section */

.produtoSustentavelSection{
    position: relative;
    height: 60vh;
    width: 75%;
    margin-top: 10%;
    margin-bottom: 10%;
    padding-left: 5%;
    border-radius: 20px;
    background-image: url(../Imagens/Sobre/produtos-sustentaveis-mesa-restauracao.png);
    background-size: cover;
    background-repeat: no-repeat;
}

.produtoSustentavelSection p{
    color:white;
    opacity: 75%;
    font-family: "Bona Nova", sans-serif;
    font-weight: 100;
    font-style: normal;
}

.sustentavelTitle{
    position: absolute;
    top: 20%;
    left: 10%;
    font-size: 4em;
    line-height: 0.8em;
}

.sustentavelSlogan{
    position: absolute;
    top: 30%;
    font-family: "MonteCarlo", cursive !important;
    font-weight: 400;
    font-style: normal;
    font-size: 7em;
}

.sustentavelDesc{
    position: absolute;
    top: 80%;
    width: 40%;
    font-family: "Bona Nova", sans-serif;
    font-weight: 100;
    font-style: normal;
    font-size: 0.8em;
}

/* Rodape */

.rodape{
    position: absolute;
    left: 0;
    height: 150vh;
    width: 100%;
    background-color:#8699a3 ;
    overflow: hidden;
}

.contactSection p{
    font-family: "Bona Nova", sans-serif;
    font-weight: 100;
    font-style: normal;
    font-size: 3em;
    color: #d1d7ad;
}

.contactSection{
    display: flex;
    flex-direction: column;
    width: 40%;
    margin-left: 30%;
    text-align: center;
    padding-top: 10%;
}

.inputGrid{
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    grid-template-rows: repeat(2, 1fr); 
    gap: 8%;
}

.checkboxWrapper{
    width: 100%;
    height: 2em;
    display: flex;
}

.checkboxAndText{
    width: 50%;
    height: 40%;
    display: flex;
}

.checkboxAndText label{
    font-size: 0.8em;
    font-family: "Bona Nova", sans-serif;
    font-weight: 100;
    font-style: normal;
    color: #d1d7ad;
}

.checkboxAndText input{
    height: 1.5em;
    width: 1.5em;
}

.enviarImgWrapper{
    width: 30px;
    height: 30px;
    padding: 2%;
    border-radius: 100%;
    background-color:#d1d7ad;
    text-align: center;
    cursor: pointer;
}

.enviarImgWrapper img{
    object-fit: cover;  
}

.rodapeLogo{
    width: 8%;
    padding-left: 47%;
    padding-top: 10%;
}

.rodapeIcons{
    display: flex;
    width: 8%;
    height: 3%;
    filter: hue-rotate(--branco-color);
    margin-left: 47%;
    margin-top: 2%;
}

.rodapeIcons img{
    object-fit: fill;
}

.rodapeTextWrapper{
    display: flex;
    flex-direction: column;
    width: 100%;
    text-align: center;
    margin-top: 4%;
}

.options{
    display: flex;
    justify-content: center;
    gap: 1%;
    width: 100%;
    text-align: center;
    margin-bottom: 1%;
}

.options p{
    font-family: "Bona Nova", sans-serif;
    color: #d1d7ad;
    font-size: 1.4em;
}

.tradeMark{
    font-family: "Bona Nova", sans-serif;
    color: #d1d7ad;
    font-size: 0.7em;    
}
