@import url('https://fonts.googleapis.com/css2?family=Bona+Nova:ital,wght@0,400;0,700;1,400&family=MonteCarlo&family=Sora:wght@100..800&display=swap');

/* Fonts */

.sora-regular {
    font-family: "Sora", sans-serif;
    font-optical-sizing: auto;
    font-weight: 400;
    font-style: normal;
}

.montecarlo-regular {
    font-family: "MonteCarlo", cursive;
    font-weight: 400;
    font-style: normal;
}

.bona-nova-bold {
    font-family: "Bona Nova", serif;
    font-weight: 700;
    font-style: normal;
}

.bona-nova-regular-italic {
    font-family: "Bona Nova", serif;
    font-weight: 400;
    font-style: italic;
}

.bona-nova-regular {
    font-family: "Bona Nova", serif;
    font-weight: 400;
    font-style: normal;
}

:root {
    --azulClaro-color: #8699a3;
    --branco-color: #d1d7ad;
    --azulEscuro-color: #4c5b63;
}
body {
    display: block;
    padding: 0;
    margin: 0;
    min-height: 100vh;
    font-size: 1vw;
}

a {
    width: 100%;
    height: 100%;
    text-decoration: none;
    color: var(--azulClaro-color);
    padding-left: 2%;
    font-family: "Sora", sans-serif;
    font-size: 1.5em; 
}

a:hover{
    color: #4c5b63;
    transition: ease 0.5s;
}

p {
    margin: 0;
}



.scroll-animation {
    opacity: 0;
    transform: translateY(50px);
    transition: opacity 1.5s ease-out, transform 1.5s ease-out;
}

.scroll-animation.show {
    opacity: 1;
    transform: translateY(0);
}


img {
    max-width: 100%;
    display: block;
}



.padding {
    margin-inline: 10%;
}


.hidden {
    display: none !important;
}

/* Back Btn */

.backArrowWrapper{
    position: fixed;
    padding-top: 2%;
    height: 100vh;
    left: 2%;
    font-size: 0.8em;
    opacity: 0.5;
}

.backArrowWrapper:hover{
    background-image: linear-gradient(to right,rgb(134, 153, 163,0.5), transparent);

}

.backArrowWrapper img{
    position: absolute;
    width: 0.8em;
    height: 0.8em;
    left: 40%;
    top: 0;
}
.backArrowWrapper p{
    transform: rotate(-90deg);
    font-family: "Sora", sans-serif;
    color: #4c5b63;
    font-size: 1em;
}

/* Scroll Btn */
.scrollArrowWrapper {
    position: absolute;
    display: flex;
    justify-content: center;
    flex-direction: column;
    height: 9em;
    font-size: 0.8em;
    top: 80%;
    left: 2%;
    opacity: 0.5;
    transition: opacity 0.5s ease;
}

.scrollArrowWrapper.faded {
    opacity: 0;
}

.scrollArrowWrapper.visible {
    opacity: 0.7;
}


.scrollArrowWrapper img {
    position: absolute;
    width: 0.8em;
    height: 0.8em;
    left: 40%;
    top: 80%;
    transform: rotate(-90deg);
}

.scrollArrowWrapper p {
    transform: rotate(-90deg);
    font-family: "Sora", sans-serif;
    color: #4c5b63;
    font-size: 1em;
}

/* About Section */
.aboutSection {
    display: flex;
    justify-content: space-between;
    gap: 10%;
    margin-bottom: 15vh;
}

.aboutSectionText { 
    max-height:100%;
    display: flex;
    width: 50%;
    flex-direction: column;
    padding-top: 5%;
}

.titleSlogan {
    position: relative;
}


.slogan{
    font-size: 5.2em;
    line-height: 1em;
    color: #8699a3;
    z-index: 2;
}

.sloganProdutos{
    position: absolute;
    top: 40%;
    left: 20%;
    font-size: 8em;
    color: var(--branco-color);
    z-index: 2;
}

.aboutSectionDesc{
    display: flex;
    margin-top: 22%;
    width: 100%;
    font-size: 1.3em;
    color: #4c5b63;
    margin-bottom: 10vh;
    gap: 7em;
}

.aboutSectionp p{
    flex: 80;
}

.shareWrapper{
    opacity: 0.7;
    display: flex;
    font-size: 0.6em;
    gap: 1em;
    margin-top: 10%;
}

.shareImg{
    height: 2em;
    width: 2em;
    background-color:#4c5b63;
    mask: url("/Imagens/Sobre/share.svg");
    mask-size: cover;
    mask-repeat: no-repeat;
}

.aboutSectionDesc2{
    width: 90%;
    font-size: 1em;
    color: var(--azulEscuro-color);
}

.aboutSectionDesc2 p{
    line-height: 1.5em;
}

.spacing{
    margin-top: 6%;
}

.aboutSectionImg {
    float: right;
    overflow: hidden;
    width: 35em;
    height: 45em;
    border-radius: 20px;
}

.aboutSectionImg img{
    height: 100%;
    object-position: right;
}


.aboutSvg {
    position: absolute;
    width: 7em !important;
    height: 7em !important;
    bottom: 5%;
    right: 5%;
}

.aboutArrow {
    position: absolute;
    width: 10em !important;
    height: 10em !important;
    bottom: 2.3%;
    right: 3%;
}

/* Image Grid*/

.imageGrid {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-template-rows: repeat(2, 1fr);  
    gap: 1em;
    margin-top: 5%;
    max-height: 2000px; /* Mantém a altura máxima */
    margin-bottom: 5rem; /* Adiciona margem inferior */
}

.imageGrid img{
    border-radius: 20px;
    height: 25em;
    width: 100%;
}

/* Sustentavel Section */

.produtoSustentavelSection{
    position: relative;
    height: 29em;
    width: 80%;
    margin-block: 8%;
    margin-inline: auto;
    border-radius: 20px;
    background-size: cover;
    background-image: url(../Imagens/Sobre/produtos-sustentaveis-mesa-restauracao.png);
    background-repeat: no-repeat;
    background-position-y: -100px;
    color: #d1d7ad;
}

.sustentavelTitle{
    position: absolute;
    top: 20%;
    left: 10%;
    font-size: 4em;
    line-height: 0.8em;
}

.sustentavelSlogan{
    position: absolute;
    top: 20%;
    left: 5%;
    font-size: 9em;
    color: white;
}

.sustentavelDesc{
    position: absolute;
    top: 75%;
    left: 5%;
    width: 40%;
    font-size: 0.8em;
    color: white;
}


/* Rodape */



.contactSection{
    display: flex;
    flex-direction: column;
    width: 50%;
    margin-inline: auto;
    text-align: center;
    gap: 1em;
    margin-top: 4.5em;
    margin-bottom: 5em;
}

.contactSection p{
    font-size: 4em;
    margin-bottom: 0.5em;
    color: #d1d7ad;
}

.contactInputWrapper{
    width: 90%;
}

.inputGrid{
    width: 100%;
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    grid-template-rows: repeat(2, 1fr);
    column-gap:4em ;
}

.input{
    border-radius: 25px;
    width: 100%;
    height: 2em;
    border: none;
    color: #4c5b63;
    padding: 1em;
    margin-bottom: 0.6em;
    font-size: 1.1em;
}


textarea{
    border-radius: 20px;
    width: 100%;
    height: 9em;
    border: none;
    color: #4c5b63;
    font-size: 1.1em;
    padding: 1em;
    resize: none;
}


.checkboxWrapper{
    width: 100%;
    height: 2em;
    margin-top: 2em;
    display: flex;
    justify-content: space-between;
    gap: 20%;
}

.checkboxAndText {
    width: 70%;
    display: flex;
    align-items: center;
}

.checkboxAndText label {
    font-size: 0.7em;
    color: white;
    text-align: left;
    width: 70%;
}


.checkboxAndText input {
    position: absolute;
    opacity: 0;
    cursor: pointer;
    height: 0;
    width: 0;
}

.checkboxAndText input + label::before {
    content: "";
    display: inline-block;
    width: 1em;
    height: 1em;
    border: 2px solid #d1d7ad;
    margin-right: 10px;
}

.checkboxAndText input:checked + label::before {
    content: "\2714";
    font-size: 1em;
    color: #d1d7ad;
    text-align: right;
    line-height: 1em;
}

.checkboxEnviarWrapper{
    display: flex;
    width: 40%;
    margin-right: 10%;
}



.produtosArrowWrapper {
    background-color: #d1d7ad;
    border-radius: 100%;
    height: 3.8em;
    width: 3.8em;
    display: flex;
    align-items: center;
    justify-content: center;
    margin-left: 10%;
}

.produtosArrow {
    height: 170%;
    width: 170%;
    border-radius: inherit;
    background-color: white;
    mask: url("/Imagens/Icons/arrow-product.svg") no-repeat center / cover;

}

.enviarImgWrapper{
    background-color: #d1d7ad;
    border-radius: 100%;
    height: 7em;
    width: 7em;

}

.checkboxEnviar{
    font-size: 3em !important;
}

@media (max-width: 600px) {

    .header{
        position: fixed ;
        background-color: white;
        height: 7em;
        z-index: 99;
    }
    .headerOptionsSmall {
        display: none;
    }

    .headerLogoScrolled {
        display: block !important;
    }

    .headerMenuBtnWrapper {
        display: block !important;
    }

    .backArrowWrapper{
        display: none;
    }

    .scrollArrowWrapper{
        display: none;
    }

    .aboutSection {
        margin-bottom: 3vh;
    }

    .imageGrid {
        grid-template-columns: repeat(1, 1fr);
        max-height: none;  
        margin-top: 10em;
    }

    .imageGrid img {
        height: 80%;
    }

    .produtoSustentavelSection{
        margin-top: 40em;
    }

    .rodape {
        margin-top: 2rem; /* Adiciona margem superior para separação */
    }
}

/*<600px,>601px,768px,992px,1200px*/